<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost/new</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>

        <property name="current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
        <property name="show_sql">true</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hbm2ddl.auto">update</property>
        <mapping class="com.example.Models.AirTicket"/>
        <mapping class="com.example.Models.ClassOfAirTickets"/>
        <mapping class="com.example.Models.Client"/>
        <mapping class="com.example.Models.Contract"/>
        <mapping class="com.example.Models.Country"/>
        <mapping class="com.example.Models.Events"/>
        <mapping class="com.example.Models.EventTickets"/>
        <mapping class="com.example.Models.Hotel"/>
        <mapping class="com.example.Models.HotelClass"/>
        <mapping class="com.example.Models.HotelRooms"/>
        <mapping class="com.example.Models.Order"/>
        <mapping class="com.example.Models.Post"/>
        <mapping class="com.example.Models.RoomCategory"/>
        <mapping class="com.example.Models.Staff"/>
        <mapping class="com.example.Models.Tour"/>
        <mapping class="com.example.Models.TourFlights"/>
        <mapping class="com.example.Models.Tourist"/>
        <mapping class="com.example.Models.TourProgram"/>
        <mapping class="com.example.Models.TourTasks"/>
        <mapping class="com.example.Models.TravelPackage"/>
        <mapping class="com.example.Models.TypeOfTour"/>
    </session-factory>
</hibernate-configuration>